.Nombrearriba{
    background-color:  #CECDBB;
    text-align: center;
    padding: 0.2vw
}

.NombrePagina{
    font: "Gluten" ;
    text-align: center;
    color: white;
    font-size: 3vw; 
}

.ImagenMED{
    padding: 0.5vw
}