/* CSS de la pagina principal */
*{
  font-family: 'Libre Baskerville';
}

body{background-color: white;}

.Fondotitulo{
    background-color: #CECDBB;
    text-align: center;
    padding: 0.2vw
}


.titulo{
  font-size: 4vw;
  color: white;
  margin-left: 5vw;
  margin-top: 2vw;
}
.navbar{
  background-color:#CECDBB;
  width: 100vw;
  height: 4vw;
  font-size: 1.5vw;
  display: flex;
  margin: 0 auto;
}

.navbarsubpaginas{
background-color:#CECDBB ;
width: 20vw;
}

.margenes{margin: 2vw;}
.bordes{border: 3vw;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#CECDBB;
    width: 5vw;
    height: 7vw;
    margin-left: 5vw;
    border-radius: 0,8vw;
    display:flex;  
    align-items: center;
    flex-direction: column;
    font-family: "Gluten";
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 3vw;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }

ul {
    list-style-type: none;
    margin: 3vw;
    padding: 1vw;
    display: flex;


  }

/*si vos poner por ejemplo 10px 50px, lo que va a pasar es que va a ir 10px para arriba y para abajo y 50px a los costados*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none;
}


.footer{
    margin-top: 5vw;
    text-align: left;
    padding: 5vw;
    background-color:#CECDBB;
    color: white;
}

.igFooter{
  width: 3vw;
  margin-right: 9vw;
  bottom: 3vw;
}

.contenidofooter{
font-size: 1vw;
}
.titulo2{
  text-align:center ;
  color: #CECDBB
}

.carousel-inner {
  width: 50%; /* Ajusta el ancho del carrusel según tus necesidades */
  height: auto; /* Ajusta la altura del carrusel según tus necesidades */
}

.carousel-item img {
  max-width: 30%; /* Ajusta el ancho máximo de las imágenes según tus necesidades */
  height: auto; /* Ajusta la altura de las imágenes según tus necesidades */
  display: flex;
  margin: 0 auto;
  padding: 2%
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* Ajusta el tamaño de los botones de navegación según tus necesidades */
  width: 20px;
  height: 20px;
}


