/* CSS de la pagina principal */
* {
  font-family: 'Libre Baskerville';
}

body {
  background-color: white;
}

.Fondotitulo {
  background-color: #CECDBB;
  text-align: center;
  padding: 0.2vw;
}

.titulo {
  font-size: 4vw;
  color: white;
  margin-left: 5vw;
  margin-top: 2vw;
}

@media (max-width: 576px) {
  .titulo {
    font-size: 5vw;
  }
}

.navbar {
  background-color: #CECDBB;
  width: 100%;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 576px) {
  .navbar {
    font-size: 1vw;
  }
}

.navbarsubpaginas {
  background-color: #CECDBB;
  width: 20vw;
}


.margenes {
  margin: 2vw;
}

.bordes {
  border: 3vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CECDBB;
  display: flex;
  align-items: center;
  font-family: "Gluten";
}

.cosasnavbar{ 
  font-size: 2vw;
}
@media (max-width: 576px) {
  .cosasnavbar {
    font-size: 2.5vw;
  }
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vw 3vw;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul.navbar-menu {
  width: 100%;
  justify-content: flex-start;
}

.footer {
  margin-top: 5vw;
  text-align: left;
  padding: 5vw;
  background-color: #CECDBB;
  color: white;
}

.igFooter {
  width: 3vw;
  margin-right: 9vw;
  bottom: 3vw;
}

.contenidofooter {
  font-size: 1vw;
}

@media (max-width: 576px) {
  .contenidofooter {
    font-size: 2.5vw;
  }
}

.titulo2 {
  text-align: center;
  color: #CECDBB;
}

.carousel-inner {
  width: 100%;
  height: auto;
}

.carousel-item img {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 2%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 20px;
  height: 20px;
}
