body{background-color: white;}

.titulo{
  font-size: 50px;
  margin-bottom: 50px;

}

#titular{color:azure}

.estosmismocolor{color:sienna}

.margenes{margin: 10px;}
.bordes{border: 3px;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 4000px;
    height: 100px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

ul {
    list-style-type: none;
    margin: 52px;
    padding: 1px;
    display: flex;

  }

/*si vos poner por ejemplo 10px 50px, lo que va a pasar es que va a ir 10px para arriba y para abajo y 50px a los costados*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.header{display: flex;}