*{
    font-family: 'Libre Baskerville';
  }

.Fondotitulo{
    background-color: #CECDBB;
    text-align: center;
    padding: 0.2vw
}
  
 
.titulo{
  font-size: 4vw;
  color: white;
  margin-left: 5vw;
  margin-top: 2vw;
}
@media (max-width: 576px) {
  .titulo {
    font-size: 7vw;
  }
}
.volverInicio{
    border: none;
    color: white;
    background-color: blanchedalmond;
    box-shadow: 0 8vw 16 0 rgba(0,0,0,0.1);
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    margin: 1vw;
    margin-left: 5vw;
    cursor: pointer;
    border-radius: 1vw;
    transition-duration: 0.5s;
    height: 4vw;
  }
  
  .volverInicio:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: blanchedalmond;
  }
  
  @media (max-width: 576px) {
    .volverInicio {
      width: 30%;
      height: 40%;
      font-size: 3.5vw;
    }
  }
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}  

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; 
    margin-bottom: 20px;
  
}
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 20px;
    background-color:#CECDBB;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    color: #6c757d;
    font-family: "Gluten" ;
  }
  
  .card-link {
    display: inline-block;
    padding: 5px 10px;
    color: #CECDBB;
    text-decoration: none;
    border-radius: 5px;

  }
  
  .card-link:hover {
    background-color: #0056b3;
  }