/* CSS de la pagina principal */


body{background-color: white;}

.Fondotitulo{
    background-color: #CECDBB;
    display: flex;
    align-items: center;
    padding: 0,5vw 0,5vw
}
.titulo{
  font-size: 4vw;
  color: white;
  margin-left: 5vw;
  margin-top: 2vw;
}
.navbar{
  background-color:#CECDBB;
  width: 99vw;
}

.navbarsubpaginas{
background-color:#CECDBB ;
width: 99vw;
}

#titular{color:azure}

.estosmismocolor{color:sienna}

.margenes{margin: 2vw;}
.bordes{border: 3vw;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#CECDBB;
    width: 5vw;
    height: 7vw;
    margin-left: 5vw;
    border-radius: 0,7vw;  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 3vw;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

ul {
    list-style-type: none;
    margin: 3vw;
    padding: 1vw;
    display: flex;


  }

/*si vos poner por ejemplo 10px 50px, lo que va a pasar es que va a ir 10px para arriba y para abajo y 50px a los costados*/ 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

.footer{
    font-family: "Gluten";
    margin-top: 5vw;
    text-align: left;
    padding: 50px;
    background-color:#CECDBB;
    color: white;
}

.igFooter{
  width: 30px;
  margin-right: 90px;
  bottom: 30px;
}

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 100px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}
.imagenes{
    height: 350px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

.titulo2{
  text-align:center ;
  color: #CECDBB
}