*{
    font-family: 'Libre Baskerville';
  }

.Fondotitulo{
    background-color: #CECDBB;
    text-align: center;
    padding: 0.2vw
}
  
  
.titulo{
  font-size: 4vw;
  color: white;
  margin-left: 5vw;
  margin-top: 2vw;
}

.MeditaciónTexto{
    background-color: blanchedalmond;
    text-align: center;
    font-size: 1vw;
}
 
.contenedor{
    display: flex;
    justify-content: center;
}
  
.container-cart{
    justify-content: center;
    background-color: #CECDBB;
    border-radius: 0,5vw;
}
  
.carrito h2 {
    margin-bottom: 1vw;
}

.ultfoto{
  width: 5vw;
  height: 5vw;

}
